<p>add-user works!</p>

<form #form="ngForm" (ngSubmit)="addUser(form)" class="form">
  <div><input type="text" placeholder="User Name" id="name" ngModel name="name" required #name="ngModel">
    <span *ngIf="name.invalid && name.touched">The name is a required field</span>
  </div>
  <div><select placeholder="status" id="status" name="status" ngModel name="status" required #status="ngModel">
      <option value="active" name="active">Active</option>
      <option value="inactive" name="inactive">Inactive</option>
    </select></div>
  <button type="submit">Add User</button>

</form>
