<h2>Fake product list</h2>
<div class="row">
  <div class="description">
    <p [ngClass]="{'available': true}">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia molestiae hic neque!</p>
  </div>
  <div class="image">
  </div>
</div>
<div class="row">
  <div>
    <p [ngClass]="{'available': true}">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia molestiae hic neque!</p>
  </div>
  <div class="image">
  </div>
</div>
<div class="row">
  <div>
    <p [ngClass]="{'available': true}">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia molestiae hic neque!</p>
  </div>
  <div class="image">
  </div>
</div>
